{% extends "master.html" %}
{% block title %}Editing author{% endblock %}

{% block body %}
<h1 class="display-3">Editing author</h1>
<form method="post">
  <div class="form-group">
    <label for="name-field">Name</label>
    <input id="name-field" class="form-control" type="text" name="name" required value="{{ author.name or '' }}">
  </div>
  <div class="form-group">
    <label for="slug-field">Slug</label>
    <input id="slug-field" class="form-control" name="type="text" name="slug" required value="{{ author.slug }}">
  </div>
  <div class="form-group">
    <label for="pw-field">Password</label>
    <input id="pw-field" class="form-control" type="password" required name="password" value="{{no_change if author.password else ''}}">
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" name="editor" {{'checked' if author.is_editor else ''}} {{'disabled="disabled"' if not can_change_editor else ''}}>
    <label class="form-check-label" for="editor">User is editor</label>
  </div>
  <p>Description: </p>
  <textarea name="description" class="form-control" rows="24" cols="80">{{ author.description }}</textarea>

  <input type="submit" value="Update" class="btn btn-primary">
</form>
{% endblock %}
