{% extends "master.html" %}
{% block title %}Author list{% endblock %}

{% block body %}
{% from "input_elements.html" import view_checkbox %}
  <h1>List of authors</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Slug</th>
      <th scope="col">Name</th>
      <th scope="col">Editor?</th>
    </tr>
  </thead>
  {% for a in authors %}
  <tr>
    <td><a href="{{url_for('author.view_author', slug=a.slug)}}"><code>{{a.slug}}</code></a></td>
    <td>{{a.name}}</td>
    <td>{{view_checkbox(a.is_editor)}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
