{% extends "master.html" %}
{% block title %}{{author.name}}{% endblock %}

{% block body %}
<article>
  <header>
  <h1 class="display-4">{{author.name}}</h1>
  {% if can_edit %}
  <p><a class="btn btn-primary" href="{{url_for('author.edit_author', slug=author.slug)}}">Edit author</a></p>
  {% endif %}
  </header>
  <p>{{ author.description | safe }}</p>
  <hr>

  {% from "navigation.html" import page_indicator, view_article %}

  {{page_indicator(cur_page, last_page, goto_page)}}

  {% for article in articles %}
  {{ view_article(article, get_preview) }}
  {% endfor %}

  {{page_indicator(cur_page, last_page, goto_page)}}

</article>
{% endblock %}
