{% extends "master.html" %}
{% block title %}File list{% endblock %}

{% block body %}
<h1 class="display-1">File list</h1>
<table class="table table-hover">
  {% from "input_elements.html" import view_checkbox %}
  <thead>
    <tr>
      <th scope="col">UUID</th>
      <th scope="col">Filename</th>
      <th scope="col">MIME type</th>
      <th scope="col">Hash</th>
      <th scope="col">Encrypted?</th></tr>
  </thead>
  {% for file in files %}
  <tr>
    <td><a href="{{url_for('file.edit_file', uuid=file.uuid)}}"><code>{{file.uuid}}</code></a></td>
    <td><code>{{file.filename}}</code></td>
    <td><code>{{file.mimetype}}</code></td>
    <td><a href="{{url_for('file.view_file', uuid=file.uuid)}}"><code>{{filehash(file.hash) | safe}}</code></a></td>
    <td>{{view_checkbox(file.encrypted)}}</td>
  </tr>
  {% endfor %}
{% endblock %}
