{% extends "master.html" %}
{% block title %}{{ file.filename }}{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
<p>File name (if empty, name on disk):<input type="text" name="filename" value="{{ file.filename or '' }}" /></p>
<p>MIME type (if empty, will try to autodetect or default to <code>application/octet-stream</code>): <input name="mimetype" type="text" value="{{ file.mimetype or '' }}"/></p>
<p>Encryption password (leave empty for unencrypted): <input type="password" name="password" value="{{password}}" /></p>
<p>Currently stored content: <a href="{{url_for('file.view_file', uuid=file.uuid)}}">{{ (file.content or '').__len__()}} bytes</a>, SHA3-512 hash: <code>{{file.hash}}</code></p>
<p>New content: <input type="file" name="content"></p>
<input type="submit" />

<input type="hidden" name="action" value="edit" />
<input type="hidden" name="old_password" value="{{password}}" />
</form>

<hr><hr>
<form method="post" action="{{url_for('file.delete_file', uuid=file.uuid)}}">
  <p>Deleting a file cannot be undone! Are you sure? <input type="checkbox" required name="confirm" /></p>
  <input type="submit" value="Delete this file!" />
</form>


{% endblock %}
