{% set pages_displayed=5 %}{# number of page links on either side of the current position #}

{% macro page_indicator(cur_page, last_page, goto_page) %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% set first_num = [1, cur_page-pages_displayed]|max %}
    {% set last_num = [last_page, cur_page+pages_displayed]|min %}
    {% if 1 != first_num %}
    {# we are too far from the start, so display an arrow instead. #}
    <li class="page-item">
      <a class="page-link" href="{{goto_page(1)}}" aria-label="Go to page 1">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for i in range(first_num, last_num+1) %}
    {% if i!=cur_page %}
    <li class="page-item"><a class="page-link" href="{{goto_page(i)}}" aria-label="Go to page {{i}}">{{i}}</a></li>
    {% else %}
    <li class="page-item active" aria-current="page">
      <span class="page-link"><span class="sr-only">You are on page </span>{{i}}</span>
    </li>
    {% endif %}
    {% endfor %}
    {% if last_page != last_num %}
    {# we are too far from the end, so display an arrow instead. #}
    <li class="page-item">
      <a class="page-link" href="{{goto_page(last_page)}}" aria-label="Go to last page">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endmacro %}

{% macro view_article(article, get_preview) %}
<div class="card my-3">
<a href="{{url_for('article.view_article', slug=article.slug)}}" class="text-decoration-none nav-link">
    <div class="card-body">
      <h1 class="card-title">{{article.title}}</h1>
      {% if article.subtitle %}
      <h2 class="card-subtitle">{{article.subtitle}}</h2>
      {% endif %}
      <p class="card-subtitle text-decoration-none">Posted at {{article.date.ctime()}}</p>
      <hr>
  <div class="card-text text-decoration-none">
    {% if article.encrypted %}
    [[ Content encrypted -- password required to view ]]
    {% else %}
    {{get_preview(article) | safe}}
    {% endif %}
  </div>
  </div>
</a>
</div>
{% endmacro %}
