{% macro disqus(slug, url) %}

<div id="comments-section">

<noscript><p>The comment section on this site is provided by <a href="https://disqus.com/?ref_noscript">Disqus.</a> Enable JavaScript to use it.</p></noscript>

<script>
	document.getElementById('comments-section').innerHTML = `<p>The comment section on this site is provided by <a href="https://disqus.com/?ref_noscript">Disqus,</a> but it is disabled by default to protect your privacy. <button onclick="init_disqus();">Click here to activate comments.</button>`;

var init_disqus = function(){
	window.localStorage.setItem('disqus_enabled', 'yes');
	document.getElementById('comments-section').innerHTML = String.raw`<p>Comments by <a href="https://disqus.com/?ref_noscript">Disqus</a> are enabled. <button onclick="deinit_disqus();">Click here to disable.</button></p><div id="disqus_thread"></div>`;
	var disqus_config = function () {
	//this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = "{{slug}}";
	};

	(function() {
	var d = document, s = d.createElement('script');
	s.src = 'https://danya02.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
}

if (window.localStorage.getItem('disqus_enabled')=='yes'){
	init_disqus();
}

var deinit_disqus = function(){
	window.localStorage.removeItem('disqus_enabled');
	window.location.reload(false);
};
</script>
</div>

{% endmacro %}
