{% macro disqus(slug, url) %}

<div class="card my-3">
<div class="card-body" id="comments-section">
<noscript><p class="lead">The comment section on this site is provided by <a href="https://disqus.com/?ref_noscript">Disqus.</a> Enable JavaScript to use it.</p></noscript>

<script>
	document.getElementById('comments-section').innerHTML = `<p class="lead">The comment section on this site is provided by <a href="https://disqus.com/?ref_noscript">Disqus,</a> but it is disabled by default to protect your privacy.</p><button class="btn btn-warning" onclick="init_disqus();">Activate comments!</button>`;

var init_disqus = function(){
	window.localStorage.setItem('disqus_enabled', 'yes');
	document.getElementById('comments-section').innerHTML = String.raw`<p class="lead">Comments by <a href="https://disqus.com/?ref_noscript">Disqus</a> are enabled. </p><button class="btn btn-success" onclick="deinit_disqus();">Disable comments</button><div id="disqus_thread"></div>`;
	var disqus_config = function () {
	this.page.url = "{{url}}"
	this.page.identifier = "{{slug}}";
	};

	(function() {
	var d = document, s = d.createElement('script');
	s.src = 'https://danya02.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
}

if (window.localStorage.getItem('disqus_enabled')=='yes'){
	init_disqus();
}

var deinit_disqus = function(){
	window.localStorage.removeItem('disqus_enabled');
	window.location.reload(false);
};
</script>
</div>
</div>

{% endmacro %}
