{% extends "master.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<article>
  <form method="post">
    <header>
        {% if wrong_version %}<div class="alert alert-danger headshake" role="alert">Wrong version of article submitted! Check live content to avoid overwriting edits!</div>{% endif %}
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" required name="title" value="{{(article.title or '')|safe}}">
          </div>
          <div class="form-group">
            <label for="subtitle">Subtitle</label>
            <input id="subtitle" class="form-control" name="subtitle" type="text" value="{{(article.subtitle or '')|safe}}">
          </div>
          <div class="form-group">
            <label for="slug">Slug</label>
            <input name="slug" class="form-control" type="text" value="{{article.slug}}">
          </div>
          <div class="form-group">
            <label for="posted-who">Posted by</label>
            <select id="posted-who" class="form-control" name="author" {% if not this_user.is_editor %}disabled{% endif %}>
              {% for author in authors %}
              <option value="{{author.slug}}" {% if ((article.author_id != None) and (author==article.author)) or author==this_user %}selected{% endif %}>{{author.name|safe}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group row">
            <label for="posted-time">Posted at (determines ordering)</label>
            <input id="posted-time" class="form-control" name="time" type="time" value="{{time}}" step="0.001" required>
            <input id="posted-date" name="date" class="form-control" type="date" value="{{date}}" required>
            <button onclick="setPostedTime(); return false" class="btn btn-info">Set to current time</button>
            <script>
              var setPostedTime = function(){
                var time = document.querySelector("#posted-time");
                var date = document.querySelector("#posted-date");
                var current = new Date();
                time.valueAsDate = current;
                date.valueAsDate = current;
              };
            </script>
          </div>
          <div class="form-group">
            <label for="tag-list">Tags (comma-separated)</label>
            <input id="tag-list" class="form-control" type="text" name="tags" value="{% for arttag in tags %}{{arttag.slug}}{% if not loop.last %},{% endif %}{% endfor %}">
          </div>
          <div class="form-group">
            <input id="listed" type="checkbox" name="listed" {{ 'checked' if article.listed }}>
            <label for="listed">Is article listed?</label>
          </div>
          <div class="form-group">
            <label for="source-format">Source code is written in this format:</label>
            <input id="source-format" class="form-control" type="text" name="format" value="{{article.format}}">
          </div>
          <div>
            <label for="enc-pw">Encryption password (leave empty for unencrypted)</label>
            <input id="enc-pw" class="form-control" type="password" name="password" value="{{password}}">
          </div>
          <div class="form-group">
            <label for="crop-para">In previews, crop at paragraph: </label>
            <input id="crop-para" class="form-control" type="number" name="crop_at_paragraph" min="1" value="{{article.crop_at_paragraph}}">
          </div>
          <input type="submit" class="btn btn-success" value="Save content">
      </header>
      <div class="form-group">
        <label for="content">Article content</label>
        <textarea id="content" class="form-control" name="content" rows="24" cols="80" required>{{ article_body|safe }}</textarea>
      </div>
      <input type="hidden" name="version" value="{{ article.version }}">
      <input type="hidden" name="action" value="edit">
    </form>

      <hr><hr>
      <form method="post" action="{{url_for('article.delete_article', slug=article.slug)}}">
        <div class="form-group">
          <input id="delete-ack" type="checkbox" required name="confirm">
          <label for="delete-ack">Deleting an article cannot be undone! I understand this!</label>
        </div>
        <input class="btn btn-danger" type="submit" value="Delete this article!">
      </form>

</article>
{% endblock %}
