{% extends "master.html" %}
{% block title %}
{% if tag %}
Articles with tag "{{tag}}"
{% else %}
Newest articles
{% endif %}
{% endblock %}
{% from "navigation.html" import page_indicator, view_article %}

{% block body %}
{{page_indicator(cur_page, last_page, goto_page)}}
<h1 class="display-3">
{% if tag %}
Articles with <span class="badge badge-secondary">{{tag}}</span>
{% else %}
Newest articles
{% endif %}
</h1>
<p class="lead">Use this link in your feed reader:
{% if tag %}
<a href="{{url_for('article.articles_by_tag_feed', tag=tag, _external=True)}}"><code>{{url_for('article.articles_by_tag_feed', tag=tag, _external=True)}}</code></a>
{% else %}
<a href="{{url_for('feed', _external=True)}}"><code>{{url_for('feed', _external=True)}}</code></a>
{% endif %}
</p>
{% for article in articles %}
{{ view_article(article, get_preview) }}
{% endfor %}
{{page_indicator(cur_page, last_page, goto_page)}}
{% endblock %}
