{% extends "master.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<article>
    <header class="article-title-font">
        <h1 class="article-title-font color-as-navbar-start">{{article.title|safe}}</h1>
        {% if article.subtitle %}<h2 class="article-title-font color-as-navbar-end">{{article.subtitle|safe}}</h2>{% endif %}
        <p class="nolink">Posted by <a href="{{url_for('author.view_author', slug=article.author.slug)}}">{{article.author.name|safe}}</a> at {{article.date.ctime()}}</p>
        <p>Original markup language: <code>{{article.format}}</code></p>
        {% if tags %}
        <p class="nolink">Tags:
          {% for arttag in tags %}
          <a href="{{url_for('article.articles_by_tag', tag=arttag.slug)}}">{{arttag.slug}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
        {% endif %}
        {% if protected %}<p>This article is encrypted!</p>{% endif %}
        {% if not article.listed %}<p>This article is unlisted!</p>{% endif %}

        <p class="noprint">
          {% if unlock_source %}
          <a href="{{url_for('article.view_article', slug=article.slug)}}">View rendered article</a>
          {% else %}
          <a href="{{url_for('article.view_article_source', slug=article.slug)}}">View source</a>
          {% endif %}
          {% if can_edit %} or <a href="{{url_for('article.edit_article', slug=article.slug)}}">edit article</a>{% endif %}</p>
          <p>
            {% if prev_article %}
              <a href="{{url_for('article.view_article', slug=prev_article.slug)}}">&lArr; Previous article</a>
            {% endif %}
            ||
            {% if next_article %}
              <a href="{{url_for('article.view_article', slug=next_article.slug)}}">Next article &rArr;</a>
            {% endif %}
    </header>

    {% if encrypted %}

    {% if error %}<div class="highlighted"><h3>Error while decrypting! Check password!</h3></div>{% endif %}
    <h1>This article is encrypted! Enter password to decrypt{% if unlock_source %} <span class="highlighted">this article's source code</span>{% endif %}:</h1>

    <form method="post">
      <input name="password" type="password" />
      <input type="submit" />

    {% else %}

    {{ article_body|safe }}

    {% from "article/disqus-plugin.html" import disqus %}
    {{ disqus(article.slug, request.base_url) }}

    {% endif %}
</article>
{% endblock %}
